.App__section-score {
  display: grid;
  border: 5px dashed blue;
  justify-content: space-between;

  grid-template-columns: 100px 100px;
  grid-template-rows: 50px 50px;
}

.App-score-h1 {
  font-family: 'ranchersregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  grid-column: 1/3;
  grid-row: 1;

  color: black;
}

.App-score-p1 {
  font-family: 'ranchersregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-column: 1/2;
  grid-row: 2;
}

.App-score-p2 {
  font-family: 'ranchersregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-column: 2/3;
  grid-row: 2;
}
