.App__section-board {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.Board__borderLimit {
  display: grid;

  justify-content: center;

  grid-template-columns: repeat(3, 8vw);
  grid-template-rows: repeat(3, 8vw);

  grid-gap: 10px;

  background-color: grey;
}
