.App__section-board {
  display: grid;
  padding: 10px;
  justify-content: center;

  max-width: 100%;

  grid-template-columns: repeat(3, 8vw);
  grid-template-rows: repeat(3, 8vw);

  grid-gap: 10px;

  border: 5px dashed blue;
}
