.App-currentPlayer-container {
  margin-bottom: 40px;
  margin-top: 40px;
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-currentPlayer {
  font-family: 'ranchersregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;

  color: black;
}
