.App__section-currentPlayer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 60px;
}

.App-currentPlayer {
  font-family: 'ranchersregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;

  color: black;
}
