.App__section-currentPlayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 5px dashed blue;
}

.App-currentPlayer {
  font-family: 'ranchersregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;

  color: black;
}
