.Header__resetButton {
  font-family: 'ranchersregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;

  margin-right: 20px;
  height: 7vh;
  width: 100px;
  max-height: 40px;

  background-color: lightseagreen;
  border: 2px solid yellow;
  border-radius: 5px;

  outline: none;
  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
}

.Header__resetButton:active {
  box-shadow: 0 3px 0 #00823f;
  top: 5px;
}
