.App__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 10vh;
  max-height: 60px;

  box-shadow: 0px 5px 10px grey;
  margin-bottom: 20px;

  background-color: dodgerblue;
}

.Header__logoImage {
  height: 7vh;
  height: 7vh;

  max-width: 40px;
  max-height: 40px;
  margin: 10px;
}

.Header__appTitle {
  font-family: 'ranchersregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;

  overflow: hidden;
  white-space: nowrap;

  font-size: calc(10px + 2vmin);
  color: black;
}
