.board_square {
  height: 100%;
  width: 100%;
  background-color: white;
  border: none;
  cursor: pointer;

  transition-duration: 0.4s;
  outline: none;
}

.board_square:hover:enabled {
  background-color: lightgray;
}

.board_square:disabled {
  cursor: auto;
  color: black;
}
