@font-face {
  font-family: 'ranchersregular';
  src: local('ranchers-regular-webfont'),
    url(./fonts/ranchers-regular-webfont.woff) format('woff');
}

body {
  margin: 0;
  font-family: 'ranchersregular' -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'ranchersregular' source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
